.gameWrapper {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rowWrapper {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.resetButton {
    margin-top: 20px;
}